body {
  background-color: rgb(3, 3, 32);
  color: white;
  margin: 0;
}

.flexible-container {
  display: flex;
  margin-bottom: 150px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}

.half-width img {
  width: 80%;
  margin-right: 3%;
}

h1 {
  font-size: 50px;
  color: white;
}

h2 {
  color: orange;
  text-align: center;
}

.super-power {
  letter-spacing: 2px;
  color: yellow;
  font-weight: 700;
}

h3 {
  color: tomato;
  font-size: 30px;
}

p {
  margin-bottom: 40px;
  font-size: 20px;
}

p {
  text-align: justify;
}

.link-button {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(tomato, red);
  padding: 10px 40px;
  font-weight: 700;
  margin-top: 60px;
  border-radius: 10px;
}

a {
  margin-bottom: 30px;
}

.superitem-area {
  padding-left: 15%;
  margin-top: 100px;
}

.superitem {
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  box-shadow: 10px 10px 30px cyan;
  border-radius: 15px;
}
